.body{
    background-color: #4eef63;
    font-family: Arial, sans-serif;
    color: #333;
}


.container{
    height: 200px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
}
.note {
    height: 150px;
    width: 250px;
    
}